# Archivos y carpetas generados por Maven
target/

# Archivos de configuración de Eclipse
.classpath
.project
.settings/

# Archivos de configuración de IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log
